@import "tailwindcss";

.top-bar-container {
	@apply min-h-screen min-w-screen flex
		flex-col

		/* max-sm ( width < 640px ) */
		/* sm ( width >= 640px ) */

		/* max-md ( width < 768px ) */
		/* md ( width >= 768px ) */

		/* max-lg ( width < 1024px ) */
		/* lg ( width >= 1024px ) */

		/* max-xl ( width < 1280px ) */
		/* xl ( width >= 1280px ) */

		/* max-2xl ( width < 1536px ) */
		/* 2xl ( width >= 1536px ) */

		/* text-sm */

		/* text-base */

		/* text-lg */

		/* text-xl */

		/* text-2xl */

		/* */;
}

.top-bar {
	@apply flex
		h-[75px]
		border-b
		items-center
		px-3
		sm:px-5
		justify-between
		
		/* border-gray-200
		dark:border-gray-900 */

		/* bg-background */

		/* dark:bg-background */

		/* bg-white */
		/* dark:bg-black */

		/* max-sm ( width < 640px ) */
		/* sm ( width >= 640px ) */

		/* max-md ( width < 768px ) */
		/* md ( width >= 768px ) */

		/* max-lg ( width < 1024px ) */
		/* lg ( width >= 1024px ) */

		/* max-xl ( width < 1280px ) */
		/* xl ( width >= 1280px ) */

		/* max-2xl ( width < 1536px ) */
		/* 2xl ( width >= 1536px ) */

		/* text-sm */

		/* text-base */

		/* text-lg */

		/* text-xl */

		/* text-2xl */

		/* */;
}

.top-bar-right {
	@apply flex
		items-center
		space-x-1
		sm:space-x-2

		/* max-sm ( width < 640px ) */
		/* sm ( width >= 640px ) */

		/* max-md ( width < 768px ) */
		/* md ( width >= 768px ) */

		/* max-lg ( width < 1024px ) */
		/* lg ( width >= 1024px ) */

		/* max-xl ( width < 1280px ) */
		/* xl ( width >= 1280px ) */

		/* max-2xl ( width < 1536px ) */
		/* 2xl ( width >= 1536px ) */

		/* text-sm */

		/* text-base */

		/* text-lg */

		/* text-xl */

		/* text-2xl */

		/* */;
}

.top-bar-img {
	@apply flex
		rounded-full
		w-[35px]
		/* max-sm ( width < 640px ) */
		/* sm ( width >= 640px ) */

		/* max-md ( width < 768px ) */
		/* md ( width >= 768px ) */

		/* max-lg ( width < 1024px ) */
		/* lg ( width >= 1024px ) */

		/* max-xl ( width < 1280px ) */
		/* xl ( width >= 1280px ) */

		/* max-2xl ( width < 1536px ) */
		/* 2xl ( width >= 1536px ) */

		/* text-sm */

		/* text-base */

		/* text-lg */

		/* text-xl */

		/* text-2xl */

		/* */;
}

.top-bar-divider {
	@apply flex
		h-[40%]
		w-[1px]
		/* bg-border */
		mx-2
		sm:mx-4
		/* max-sm ( width < 640px ) */
		/* sm ( width >= 640px ) */

		/* max-md ( width < 768px ) */
		/* md ( width >= 768px ) */

		/* max-lg ( width < 1024px ) */
		/* lg ( width >= 1024px ) */

		/* max-xl ( width < 1280px ) */
		/* xl ( width >= 1280px ) */

		/* max-2xl ( width < 1536px ) */
		/* 2xl ( width >= 1536px ) */

		/* text-sm */

		/* text-base */

		/* text-lg */

		/* text-xl */

		/* text-2xl */

		/* */;
}

.top-bar-button {
	@apply !border-0
		!outline-0
		hover:!border-0
		focus:!border-0
		active:!border-0
		focus-visible:!border-0
		focus-visible:!outline-0
		/* max-sm ( width < 640px ) */
		/* sm ( width >= 640px ) */

		/* max-md ( width < 768px ) */
		/* md ( width >= 768px ) */

		/* max-lg ( width < 1024px ) */
		/* lg ( width >= 1024px ) */

		/* max-xl ( width < 1280px ) */
		/* xl ( width >= 1280px ) */

		/* max-2xl ( width < 1536px ) */
		/* 2xl ( width >= 1536px ) */

		/* text-sm */

		/* text-base */

		/* text-lg */

		/* text-xl */

		/* text-2xl */

		/* */;
}